tr {
  display: flex;
}

td {
  width: 30px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crowds td {
  height: 30px;
}

.crowds div {
  font-size: 20px;
}

tr.camels {
  background-color: beige;
}

.camels td {
  height: 110px;
  flex-direction: column-reverse;
  max-width: 5vw;
}

.crowds td {
  max-width: 5vw;
}
